<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
		<connectionStrings>
			<add name="IConnectionString"
				 providerName="System.Data.SqlClient"
				 connectionString="Data Source=LAPTOP-VL8K1AA5;Initial Catalog=UsersRewardsBD;Integrated Security=True"/>
		</connectionStrings>
	<appSettings>
		<add key="useDataBase" value="true"/>
	</appSettings>
</configuration>